html.dark {
    /* 自定义深色背景颜色 */
    --el-bg-chat-color: #343541;
    --el-bg-ai-color: #1e272e;
    --el-prompt-item-color: #3e3f4b;
    --el-textarea-inner-color: #40414f;
    --el-msg-item-bot-color: #444654;
    --el-msg-item-bot-border-color: #2a2b32;
    --el-text-chat-time-color: #aaaaaa;

    --el-menu-item-hover-fill-bg: #343541;
    --el-menu-item-hover-color: #eeeeee;
    --el-border-aside-color: #202121;
    --el-border-tab-pane-color: #484e76;
    --el-apps-bg-color: #8e90a9;
  }

html{
    --el-bg-chat-color: #ffffff ;
    --el-prompt-item-color: #f7f7f7;

    --el-msg-item-bot-color: #f7f7f7;
    --el-msg-item-bot-border-color: #e5e5e5;
    --el-text-chat-time-color: #999;


    --el-menu-item-hover-fill-bg: #d5d5d5;
    --el-menu-item-hover-color: #535353;
    --el-border-aside-color: #e5e5e5;

    --el-border-tab-pane-color: #dbddec;
    --el-apps-bg-color: #eaebf6;
}